<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
</style>

{% javascript %}
  const container = document.getElementById('event-list');
  container.innerHTML = `
        <div class="event">
          <h2>Loading Shift Events...</h2>
        </div>
      `;

  // fetch('https://3rcmn1sfj3.execute-api.ap-southeast-2.amazonaws.com/prod', {
  fetch('https://pokeapi.co/api/v2/pokemon/ditto', {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json',
    },
  }).then((res) => {
    res.json().then((data) => {
      console.log('### pokeapi data:', data);
      // const container = document.getElementById('event-list');
      // container.innerHTML = '';
      // data.forEach((event) => {
      //   const div = document.createElement('div');
      //   div.className = 'event';
      //   div.innerHTML = `
      //     <h2>${event.title}</h2>
      //   `;
      //   container.appendChild(div);
      // });
    });
  });
{% endjavascript %}

<div class="template-404 page-width page-margin center">
  <p>
    {{ 'templates.404.subtext' | t }}
  </p>

  <div id="event-list"></div>

  <h1 class="title">
    {{ 'templates.404.title' | t }}
  </h1>
  <a href="{{ routes.all_products_collection_url }}" class="button">
    {{ 'general.continue_shopping' | t }}
  </a>
</div>
